@use './variable';

.event {
    padding: 80px 0;

    &--happy { //Gradiente de fundo
        background-image: linear-gradient( variable.$ColorPurple, variable.$colorGreen);
    }
    &--drink { //Gradiente de fundo
        background-image: linear-gradient( variable.$colorGreen, variable.$ColorPurple);
    }
    &--bolo { //Gradiente de fundo
        background-image: linear-gradient( variable.$ColorPurple, variable.$colorGreen);
    }
    &--game { //Gradiente de fundo
        background-image: linear-gradient( variable.$colorGreen, variable.$colorGreen);
    }

        &--image-left {  //reverter posição da imagem
        .container {
            flex-direction: row-reverse;
            gap: 40px;
        }
    }
        .container { 
        display: flex;
        
        @media (max-width: 640px) { //tamanho da tela do celular
            .container {
                display: block;
            }

            &__image {
                width: 100%;
            }

            &__details {
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        margin-right: 14px;

        &__title {
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }


}