@use './variable';

.event {
    padding: 80px 0;

    &--happy { //Gradiente de fundo
        background-image: linear-gradient( variable.$ColorPurple, variable.$colorGreen);
    }
    &--drink { //Gradiente de fundo
        background-image: linear-gradient( variable.$colorGreen, variable.$ColorPurple);
    }
    &--bolo { //Gradiente de fundo
        background-image: linear-gradient( variable.$ColorPurple, variable.$colorGreen);
    }
    &--game { //Gradiente de fundo
        background-image: linear-gradient( variable.$colorGreen, variable.$colorGreen);
    }

        &--image-left {  //reverter posição da imagem
        .container {
            flex-direction: row-reverse;
            gap: 40px;
        }
    }
        .container { 
        display: flex;
        align-items: center;

    }

    img {
        max-width: 360px;
        margin-left: 10px;
    }

    &__details {
        margin-right: 14px;

        &__title {
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }
    
    @media (max-width: 667px) { //tamanho da tela do celular
        .container {
            display: block;
        }

        img {
            max-width: 220px;
            margin-bottom: 36px;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
    @media (max-width: 1024px) { //tamanho da tela do celular
        .container {
            display: flex;
            flex-direction: column-reverse;
        }

        img {
            max-width: 280px;
        }
        
        &__details {
            margin-top: 14px;
            text-align: justify; /* Garante a justificação do conteúdo */
            
            &::after {
                content: '';
                display: inline-block;
                width: 100%; /* Força a justificação dos elementos inline */
            }
        
            &__title {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 16px;
                display: inline-block; /* Coloca o título na mesma linha que o parágrafo */
                vertical-align: top; /* Alinha o título no topo */
                margin-right: 10px; /* Espaçamento entre o título e a descrição */
            }
        
            &__description {
                line-height: 22px;
                display: inline-block; /* Mantém a descrição inline e na mesma linha que o título */
                vertical-align: top; /* Alinha a descrição com o topo do título */
                text-align: justify; /* Garante que o parágrafo fique justificado */
                width: calc(100% - 56px); /* Ajusta a largura do parágrafo considerando o título */
            }
        }
        
    }
}